@charset "utf-8";

/* 共通 */

a {
  display: inline-block;
  text-decoration: none;
}

p {
  /* 基本のフォントサイズ */
  font-size: 12px;
}

select,
textarea,
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  resize: none;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

.wrapper {
  background: #f2f6f7;
  width: 100%;
  padding: 32px 0;
}

.inner {
  margin: 0 auto;
  width: 640px;
}

.button {
  padding: 13px;
  box-sizing: border-box;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  font-size: 13px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  transition: all .3s;
}

.half-width {
  width: 50%;
}

.flexbox {
  display: flex;
}

.defaultText{
  color: #949697;
}

.row {
  margin-top: 20px;
}

.input {
  box-sizing: border-box;
  height: 36px;
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  color: #545658;
  font-size: 13px;
  line-height: 2;
  background-color: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

.input-area:focus {
  background-color: #fff;
  border-color: rgba(59, 133, 133, .4);
  box-shadow: 0 0 0 2px rgb(1 191 189 / 10%);
}

/* 共通 */

/* ホバーありまとめ */

.button,
.anchor,
.submit-btn {
  transition: all .3s;
}

.facebook-btn:hover {
  background-color: #344e87;
  border-color: transparent;
}

.google-btn:hover {
  background-color: #fbfbfb;
}

.link-color {
  color: #01bfbd;
  font-size: 12px;
  line-height: 16px;
}

.anchor:hover {
  opacity: 0.8;
}

.log-in:hover,
.resend-mail:hover {
  /* border-bottom: 1px solid #01bfbd; */
  text-decoration: underline;
}

.submit-btn:hover {
  background-color: #01a6a4;
}

/* ホバーありまとめ */

/* 見出し */

.main-content {
  box-sizing: border-box;
  padding: 48px 64px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 4px 0 rgb(0 0 0 / 18%);
}

.main-content h1 {
  text-align: center;
  margin-bottom: 24px;
  color: #545658;
  font-size: 24px;
}

/* 見出し */

/* ___________________________
facebook/Googleログイン ここから
___________________________ */

.account-log-in {
  margin-top: 24px;
}

.columns {
  justify-content: center;
  align-items: center;
}

.column {
  margin-left: 8px;
}

.column:first-child {
  margin-left: 0px;
}

.facebook-btn {
  background-color: #3b5999;
  border-color: #3b5999;
  color: #fff;
}

.google-btn {
  background-color: #fff;
  color: #dd4b39;
}

.supplement-text {
  margin-top: 8px;
  text-align: center;
}

/* ___________________________
facebook/Googleログイン ここまで
___________________________ */

/* ___________________________
アカウント新規作成 ここから
___________________________ */

.account-create {
  margin-top: 20px;
}

.devider {
  position: relative;
  text-align: center;
}

.devider p {
  display: inline-block;
  position: relative;
  padding: 0 10px;
  background-color: #fff;
}

.devider::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 1px;
  width: 100%;
  background-color: #ececec;
}

.form {
  margin-top: 20px;
}

.label-text {
  color: #545658;
}

.alert {
  color: #dd4b39;
}

/* 名前 */

.name {
  margin-left: 16px;
}

.name:first-child {
  margin-left: 0;
}

/* 名前 */

/* 性別 */

.gender {
  margin-left: 15px;
  cursor: pointer;
}

.gender:first-child {
  margin-left: 0;
}

.gender-select {
  margin-top: 5px;
}

.gender-span {
  font-size: 16px;
  padding: 3px 3px 3px 20px;
  color: #545658;
  position: relative;
}

.gender-span::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 14px;
  width: 14px;
  background-color: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
}

.radio-btn:checked+.gender-span::after {
  content: '';
  position: absolute;
  left: 4px;
  top: 50%;
  height: 8px;
  width: 8px;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: #01bfbd;
}

/* 性別 */

/* 出身 */

.origin {
  position: relative;
}

.origin::after {
  content: '';
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 45%;
  transform: rotate(45deg);
  height: 5px;
  width: 5px;
  border-right: 2px solid #d9d9d9;
  border-bottom: 2px solid #d9d9d9;
}

/* 出身 */

/* パスワード */

.password {
  margin-top: 20px;
}

.password:first-child {
  margin-top: 0;
}

/* パスワード */

/* 希望コース */

.check-box {
  flex-flow: column;
  margin-top: 5px;
}

.course-option {
  margin-top: 10px;
  position: relative;
}

.course-option:first-child {
  margin-top: 0;
}

.course-option__label {
  cursor: pointer;
  padding-left: 25px;
  color: #545658;
  font-size: 16px;
}

.course-option__label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  height: 15px;
  width: 15px;
  margin-top: -8px;
  border: 1px solid #d9d9d9;
}

.course-option input:checked + .course-option__label::after {
  content: '';
  position: absolute;
  left: 6px;
  top: 50%;
  transform: rotate(45deg);
  height: 16px;
  width: 8px;
  margin-top: -12px;
  border-right: 3px solid #01bfbd;
  border-bottom: 3px solid #01bfbd;
}

/* 希望コース */

/* 備考 */

.remarks-textarea {
  height: 100px;
}

/* 備考 */

/* 送信ボタン */

.submit {
  margin-top: 20px;
}

.submit-btn {
  padding: 13px;
  background-color: #01bfbd;
  color: #fff;
  width: 100%;
}

.submit-btn:active {
  background-color: #fff;
  color: #01bfbd;
}

/* 送信ボタン */

/* フッター */

.foot-part {
  text-align: center;
  margin-top: 32px;
}

.resend-mail {
  margin: 8px 0;
}

/* フッター */

/* ___________________________
アカウント新規作成 ここまで
___________________________ */